.field
  = f.text_field :title, placeholder: 'Title', class: 'input'
.field
  = f.text_area :content, size: '50x10', placeholder: 'Content', class: 'input textarea'
.large.info.btn
  = submit_tag 'Publish'

