- @title = "Contact us"

.twelve.columns
  %iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5214.4048543585695!2d16.608871630916774!3d49.196719358505405!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4712945a061b0d8f%3A0xc2e6c9dbbda952a2!2zQsSbaG91bnNrw6EgMTEwLzEy!5e0!3m2!1sen!2s!4v1393345401511" width="100%" height="580.9519" frameborder="0" style="border:0")

%ul.twelve.columns#contacts
  %li
    %h1 Location and Contact
    %table
      %tr
        %td
          %strong Address:
        %td Běhounksá 12/14, 602 00 Brno
      %tr
        %td
          %strong Phone/Fax:
        %td+420 542 214 372
      %tr
        %td
          %strong Mobile:
        %td+420 777 167 330
      %tr
        %td
          %strong e-mail:
        %td tajbrno@volny.cz

  %li
    %h1 Info
    %p
      Free
      %strong WIFI
      available

      %br

      Pay with
      %strong Paycard
      available
    %p
      Celebrations according to Your Wishes
      %br
      Children Parties

  %li
    %h1 Opening Hours
    %table
      %tr
        %td
          %strong Mon-Sat:
        %td11:00-23:00
      %tr
        %td
          %strong Sun:
        %td 12:00-22:00
