- @title = 'New article'

.twelve.columns
  %h1 Publish new article

- if flash[:errors].present?
  .twelve.columns
    - flash[:errors].each do |error|
      .danger.alert= error

.twelve.columns
  = form_for @article, url: { action: :create } do |f|
    = render partial: 'form', locals: { f: f }

