// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show_reservations {
  margin-bottom: 6px;
}

.confirm_link {
  color: $blue;
}

.delete_link {
  color: $red;
}
